@import "tailwindcss";

:root {
  --main-color: #155dfc;
  --light-bg: #f9fafb;
  --light-second: #64748b;
  --light-text: #0f172a;
  --light-span: #475569;
  --light-borders: #e2e8f0;
  /* dark colors  */
  --dark-bg: #0f172a;
  --dark-second: #cbd5e1;
  --dark-text: #f8fafc;
  --dark-span: #a7b1be;
  --dark-borders: #1e293b;
  --dark-border: #041735;
}
body {
  font-family: var(--font-poppins), sans-serif;
  height: 100%;
  position: relative;
}
#vanta-bg {
  min-height: 100vh;
  height: 100%;
}
.open-animation div {
  animation: openFromCenter 5s ease-in-out forwards;
  transform-origin: center;
}
.skills-section {
  padding: 80px 0;
  background: #f9f9f9; /* لون خلفية متناسق مع موقعك */
}

.section-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
  color: #333;
}

.section-title span {
  color: #6c63ff; /* اللون البنفسجي الموجود في موقعك */
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}

.skill-card {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-icon i {
  font-size: 3rem;
  margin-bottom: 15px;
}

.skill-progress {
  height: 8px;
  background: #eee;
  border-radius: 10px;
  margin-top: 15px;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
}
/* .book-open-animation div {
  transition: transform 1s ease-in-out;
} */
@keyframes openFromCenter {
  0% {
    opacity: 1;
  }
  100% {
    width: 0;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes opening {
  0% {
    transform: scaleX(1);
    opacity: 1;
  }
  50% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(0);
    opacity: 0;
    display: none;
  }
}
.trans-theme {
  @apply transition-all duration-700 ease-in-out;
}
.media {
  box-shadow: inset 0 0 0 9px rgb(225 225 225/ 0.4);
  animation: profile__animation 5s ease-in-out infinite;
}
@keyframes profile__animation {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
